*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    /* background-color:blueviolet; */
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(153, 202, 241);
}
.Main{
    padding: 10px;
    height : 200px;
    width: 300px;
    border: 2px solid black;
    background-color: rgba(4, 190, 252, 0.954);
    border-radius: 10px;
}
#submit{
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(2, 71, 245);
    
}
#span-msg{
    background-color: silver;
}